:root {
  --color-grey1: #2b2b2b;
  --color-grey2: #707070;
  --color-grey3: #161616;
  --color-grey4 : #4A4A4A;
  --color-grey5 : #1E1E1E;
  --color-grey6 : #a0a0a0;
  --color-default-accent : #1578C4;
  --color-white1 : #D2D2D2;
}
