:root {
  --color-grey1: #2b2b2b;
  --color-grey2: #707070;
  --color-grey3: #161616;
  --color-grey4 : #4A4A4A;
  --color-grey5 : #1E1E1E;
  --color-grey6 : #a0a0a0;
  --color-grey7 : #949494;
  --color-grey8 : #0c0c0c;
  --color-grey9 : #131313;

  --color-default-accent : #1578C4;
  --color-default-accent2 : #15acc4;

  --color-white1 : #D2D2D2;
  --color-white2 : #c5c5c5;
  --color-white3 : #e2e2e2;

  --color-quality-high: #a7ff0e;
  --color-quality-medium: #fa7900;
  --color-quality-poor: #d63713;

  --color-purple: #9100ff;
  --color-coldred: #b71dc1;
  --color-coldred-hl: #cd46d6;

  --color-primary: #31bce7;
}
