.button {
  background: var(--color-default-accent);
  padding: 0.5rem 1rem;  
  // border-radius: 2rem;
  font-size: 1.1rem;
  transition: background 1s ease 0s;

  &:hover,&:focus {
    background: var(--color-default-accent2);
  }
}

.button--thin {
  background: none;
  border-radius: 5rem;
  border: solid 2px var(--color-default-accent);
  color: var(--color-bright1);

  font-size: 0.85rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.button--tiny {
  font-size: 0.8rem; 
  display: inline-block;  
}

.button--coldred {
  background: var(--color-coldred);
  &:hover {
    background: var(--color-coldred-hl);
  }
}

.button--dark1 {
  background: var(--color-grey5);
  &:hover {
    background: var(--color-grey1);
  }
}

.button--purple {
  border-color: var(--color-primary);

  &:hover, &.active {
    background: var(--color-primary) !important;    
    border-color: var(--color-primary);
    color: white;
  }  
  
}

.button--grey {
  border-color: var(--color-grey4);

  &:hover {
    background: var(--color-grey4) !important;    
    border-color: var(--color-grey4);
    color: white;
  }
}

.button--dark {
  transition: all 0.75s ease 0s;
  text-align: center;
  border-radius: 2rem;
  border: solid 2px var(--color-grey1);
  background: var(--color-grey3);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;

  &:hover,&:focus {
    // background: var(--color-default-accent2);
    border-color: var(--color-default-accent);
    color: white;
  }

}

.button--secondary {
  background: var(--color-grey5);
  border-radius: 5px;
}
