.c-compilationcard {
  // outline: solid 1px red;
  display: flex;
  flex-direction: column;
  margin: 5px;
  background: blue;

  flex-shrink: 0;
  flex-grow: 0;
  max-width: 150px;

  border: solid 2px var(--color-grey4);
  background: var(--color-grey4);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);

  span:first-child {
    flex-basis: 90% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span {
    padding: 15px;
  }

  span:nth-child(2) {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: var(--color-grey3);
    min-width: 0;
  }
}
