%gamequery {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.c-gamequery {
  @extend %gamequery;
  white-space: nowrap;
  overflow: auto;

  &--single {
    @extend %gamequery;
    display: flex;
    flex-flow: column;
  }
}
