.c-gameheader {
  h1 {
    margin-bottom: 0.5rem;
    font-size: 8vw;
    line-height: 10vw;    
  }
  margin-bottom: 1rem;

  &__metas {
    display: flex;
    // outline: solid 1px red;
    flex-direction: column;

    >*:first-child {
      margin-left: 0;
    }
  }
}

.c-gameheader__reviewcount {
  color: var(--color-grey2);
}

@media only screen and (min-width: $breakpoint-md) {
  .c-gameheader h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    word-break: normal;
  }
  
  .c-gameheader__meta__genre {
    margin-left: 0.75rem;
  }

  .c-gameheader__metas  {
    align-items: center;
    flex-direction: row;
  }
  .c-gameheader__metas__platforms {
    margin-right: 0.5rem;
  }
}
