.c-hlquote {
  background: var(--color-grey8);

  color: #333;

  padding: 1.5rem;
  margin-top: 1.5rem;

  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: normal;

  box-shadow: 5px 5px 5px #00000033;
  border-radius: 0.5rem;

  h3 {
    color: #737373;
    margin-top: 0;
    font-size: 1.2rem;
  }

  &__quote {
    // color: blue;
    color: #adadad;
    margin-bottom: 0.7rem;
    // color: white;
  }

  &__site {
    font-size: 1rem;
    color: var(--color-white1);
    margin-left: 0.25rem;
  }
}
