.c-hlquote {
  color: var(--color-white1);
  background: var(--color-grey9);

  padding: 1.5rem 2.5rem;
  margin-top: 1.5rem;

  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: normal;

  border-radius: 0.5rem;

  h3 {
    color: #737373;
    margin-top: 0;
    font-size: 1.2rem;
  }

  &__quote {
    color: #adadad;
    display: flex;
    margin: 0;
    color: var(--color-grey7);
    position: relative;
    font-size: 1.1rem;    

    p {
      margin: 0.2rem 0;
      margin-bottom: 0.5rem;
    }

    &:before{
    content: "\201C";
    font-size: 3rem;
    color: var(--color-grey1);
    position: absolute;
    left: -1.5rem;
    top: 0;
   }
  }

  &__site {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-white1);
    margin-left: 0.25rem;
    margin-top: 0.5rem;
    margin-right: 0.75rem;
  }
}
