%icon {
  fill: var(--color-white1);
}

.c-icon {
  &__search {
    @extend %icon;
  }

  &__chevron {
    @extend %icon;
    svg {
      fill: var(--color-white1);
    }
  }

  &__some {
    &__twitter, &__facebook {
      circle { fill: var(--color-grey1); } // circle
    }
    &__facebook {
      path { fill: white; } // f-letter
    }
    &__twitter {
      path { fill: white; } // f-letter
    }
  }
}
