%icon {
  fill: var(--color-white1);
}

.c-icon {
  &__search {
    @extend %icon;
  }

  &__chevron {
    @extend %icon;
    svg {
      fill: var(--color-white1);
    }
  }

  $onhover_color : var(--color-grey4);
  $transition_attrs : 1.25s ease 0s;

  &--circle {
    background: var(--color-grey1);
    border-radius: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background $transition_attrs;      // TODO: Unify with circle

    &:hover, &:focus {
      background: $onhover_color;
    }

  }

  &__404 {
    svg {
      width: 100%;
      height: 100%;
      fill: var(--color-grey2);
    }
  }

  &__some {
    circle {
      transition: fill $transition_attrs;
    }

    &:hover, &:focus {
      circle {
        fill: $onhover_color;
      }
    }

    &__twitter, &__facebook {
      circle { fill: var(--color-grey1); } // circle
    }
    &__facebook {
      path { fill: white; } // f-letter
    }
    &__twitter {
      path { fill: white; } // f-letter
    }
  }
}
