%icon {
  fill: var(--color-white1);
}

.c-icon {
  &__search {
    @extend %icon;
  }

  &__chevron {
    @extend %icon;
    svg {
      fill: var(--color-white1);
    }
  }

  &__404 {
    // text-align: center;
    svg {
      width: 100%;
      height: 100%;
      fill: var(--color-grey2);
      // fill: var(--color-defaul);
    }
  }

  &__some {
    circle {
      transition: fill 1s ease 0s;
    }

    &:hover, &:focus {
      circle {
        fill: var(--color-grey4);
      }
    }

    &__twitter, &__facebook {
      circle { fill: var(--color-grey1); } // circle
    }
    &__facebook {
      path { fill: white; } // f-letter
    }
    &__twitter {
      path { fill: white; } // f-letter
    }
  }
}
