.c-nav {
  // height: 75px;  
  display: flex;
  justify-content: space-between;
  z-index: 500;
  width: 100%;
  font-size: 0.25rem;
  // background: var(--color-grey3);
}

.c-nav--primary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}


@media only screen and (min-width: $breakpoint-md) {
  .c-nav--primary {
    width: auto;
  }
}