.reviewlink {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  padding: 0;

  .skeleton {
    min-height: 0.75rem;
    background: var(--color-grey5);
    border-radius: 12px;

    animation: mymove 3s infinite;
    animation-timing-function: ease-in-out;
  }

  &__img {
    width: 80px;
    height: 100px;
    filter: saturate(0) brightness(0.55);
    border-radius: 0.5rem;
    &.skeleton { filter: none; }
  }

  &__title {
    margin: 0;
    min-width: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.skeleton { width: 200px; }
  }

  &__site {
    margin: 0;
    &.skeleton { width: 150px; }
  }

  &__platform {
    margin: 0;
    &.skeleton { width: 75px; }
  }

  &__button {
    font-size: 1.1rem !important;

    &.skeleton:first-child, &:first-child {
      margin-right: 0.5rem;
    }

    &.skeleton {

      color: rgba(0,0,0,0);
      max-width: 120px;
      height: 40px;

      pointer-events: none !important;
    }
  }
}

.reviewlink__col {
  display: flex;
  padding: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:first-child {
    display: none;
    flex-shrink: 0;
    padding-right: 0.5rem;
  }

  &:nth-child(2) {
    flex-direction: column;
    justify-content: space-between;
    // outline: solid 1px red;
  }
}

.reviewlink__buttonrow {
  display: flex;
  margin-top: 0.75rem;
  // justify-content: space-between;
}

@media only screen and (min-width: 380px) {
  .reviewlink__col:first-child {
    display: flex;
  }
}
