.reviewcard {
  display: flex;
  padding: 0;
  margin-bottom: 20px;

  &--skeleton {
    background: var(--color-grey5);
    margin: 12px;
  }

  img {
    $i : 80px;
    width: $i;
    height: $i;
    border-radius: 12px;
    filter: brightness(0.3) saturate(0);
  }
}

.c-reviewcard__summary {
  blockquote {
    margin-left: 0;
    margin-top: 0.5rem;
  }
  color: var(--color-grey6);
  font-size: 1rem;
  line-height: 1.3rem;
}

.c-reviewcard__col {
  padding-left: 12px;

  &:first-child() {
    padding: 0;
  }
}

.reviewcardlist {
  display: flex;
  flex-direction: column;
}
