.c-reviewcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 19.5%; 
  text-align: center;   
  margin-bottom: 4rem;
  margin: 1.5rem;    
  border-top: solid 2px var(--color-grey4);
  opacity: 0;

  &.revealed {
    @include fadein;
    animation-duration: 2s;  
  }

  &:first-child {
    border-top: none;    
  }
  padding-top: 1.5rem;  
  
  &__score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 5rem;
    width: 5rem;
    background: var(--color-grey9);
    border-radius: 50%;
    font-size: 1.7rem;
    margin-bottom: 1rem;

    @each $quality in ('high', 'medium', 'poor') { 
      &--quality-#{$quality} {
        background: linear-gradient(to bottom, var(--color-quality-#{$quality}), var(--color-quality-#{$quality}-secondary));
        text-shadow: 1px 1px 4px var(--color-quality-#{$quality}-dark)
      }
    }
  }
  &__cite {
    color: var(--color-grey7);
    flex-grow: 5;    
    padding: 1rem;
  }

  &__title {    
    font-size: 1.5rem;
    text-align: center;    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__creation {    
    color: var(--color-grey2);
  }
  &__link {
    margin-top: 1.3rem;
  }
}

.c-reviewcard--empty {
  color: var(--color-grey1);
  display: none;
  
  .c-reviewcard__creation {
    color: var(--color-grey1);
  }

  .c-reviewcard__score {
    background: var(--color-grey9);    
  }
}

.reviewcard {
  &--skeleton {
    font-size: 0;

    margin-bottom: 1rem;

    img, a, h3 {
      padding: 1em;
      // outline: solid 1px red;
      color: rgba(0,0,0,0);
      background: var(--color-grey5);
    }

    img {
      $i : 80px;
      width: $i;
      height: $i;
      border-radius: 12px;
      outline: none;
    }

  }
  img {
    $i : 80px;
    width: $i;
    height: $i;
    border-radius: 12px;
    filter: brightness(0.3) saturate(0);
  }
}

.c-reviewcard__summary {
  blockquote {
    margin-left: 0;
    margin-top: 0;
  }
  color: var(--color-grey6);
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
  flex-grow: 2;
  margin: 1rem 0;

}

.c-reviewcard__col {
  padding-left: 12px;

  &:first-child() {
    padding: 0;
  }


.reviewcardlist {
  display: flex;
  flex-direction: column;
}
}

@media only screen and (min-width: $breakpoint-md) {
  .c-reviewcard {
    border:none;
    margin-left: 0;
    margin-right: 0;

    &--empty { display: flex; }
  }  
}