.reviewcard {
  &--skeleton {
    font-size: 0;

    margin-bottom: 1rem;

    img, a, h3 {
      padding: 1em;
      // outline: solid 1px red;
      color: rgba(0,0,0,0);
      background: var(--color-grey5);
    }

    img {
      $i : 80px;
      width: $i;
      height: $i;
      border-radius: 12px;
      outline: none;
    }

  }
  // display: flex;
  // padding: 0;
  // margin-bottom: 20px;
  //
  // &--skeleton {
  //   background: var(--color-grey5);
  //   margin: 12px;
  // }
  //
  img {
    $i : 80px;
    width: $i;
    height: $i;
    border-radius: 12px;
    filter: brightness(0.3) saturate(0);
  }
}

.c-reviewcard__summary {
  blockquote {
    margin-left: 0;
    margin-top: 0;
  }
  color: var(--color-grey6);
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

.c-reviewcard__col {
  padding-left: 12px;

  &:first-child() {
    padding: 0;
  }


.reviewcardlist {
  display: flex;
  flex-direction: column;
}
}
