.c-reviewlist {
  display: flex;
  overflow-x: auto;
  justify-content: flex-start;
  // outline: solid 1px green;

  &--grid {
    display: grid;
    grid-template-columns: repeat(1,100%);
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .c-reviewlist--grid {
    grid-template-columns: repeat(2,50%);
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  .c-reviewlist--grid {
    grid-template-columns: repeat(3,33%);
  }
}

.c-reviewlist__item {
  flex-shrink : 0;
  flex-grow: 0;

  align-items: baseline;

  &:first-child() {
    // margin-left: 0px;
  }

  &__platform {
    font-size: 0.8rem;
    color: #fff;
    padding: 0.2rem 1rem;
  }

  &__header {
    display: flex;
    justify-content: flex-start;

    &__score {
      margin-right: 0.75rem;
    }
  }

  h3 {
    margin: 0;
  }

  padding: 12px;
  width: calc(50%-0.5em);
  margin: 0.25em;
  flex-basis: 250px;
  display: flex;
  flex-direction: column;

  background: var(--color-grey5);

  >*:nth-child(2) { // Summary
    flex-grow: 2;
    margin: 1rem 0;    
  }

  div {
    // width: 200px;
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .c-reviewlist {
    overflow-x: inherit;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .c-reviewlist__item {
    flex-shrink: 1;
    flex-grow: 1;

    // flex-grow: 0;

    div {
      // width: 200px;
    }
   }
}
