.c-search {
  background: none;
  border: none;
  margin: 0.5rem;

  transition: background 0.5s ease 0s;

  &.hidden {
    opacity: 0;
  }

  svg {
    fill: var(--color-white1);
    width: 40px;
    height: auto;
  }
}


@media only screen and (min-width: $breakpoint-md) {
  .c-search {
    margin: 2rem;
  }
}
