.c-topheader {
  min-height: 5rem;
  display: flex;
  justify-content: flex-end;
  box-shadow: 5px 5px 3px rgba(0,0,0,0.2);
  position: relative;

  &.small {
    position: fixed;
    width: 100%;
    z-index: 50;
    background: var(--color-grey3);
    top: 0;

  }
}

@media only screen and (min-width: $breakpoint-md) {
  .c-topheader {
    display: inherit;
  }
}
