.c-topheader {
  // min-height: 5rem;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  box-shadow: 5px 5px 3px rgba(0,0,0,0.2);
  right: 0;
  top: 0;
  left: 0;
  z-index: 100;
  // position: relative;
  background: var(--color-grey3);
  transition: background ease-in 0.25s;

  &.small {        
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .c-topheader {
    display: inherit;
    &.small {
      width: 100%;
      z-index: 50;
      top: 0;
      left: 0;    
  
      .c-sitebranding svg { height: 2.2rem; }
      .c-sitesvg__text { opacity: 0; }
  
      .c-search {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;      
      }
  
      a {
        color: rgb(255, 224, 251) !important;
      }
  
    }
  }
  
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-130px);
	}
	100% {
		transform: translateY(0px);
	}
}