a, a:visited {
  color: var(--color-white1);
  // color: var(--color-grey7);
  display: inline-block;

  transition: color 1s ease 0s;

  text-decoration: none;

  &:hover {
    color: inherit;
  }

  &:focus {
    color: var(--color-white3);
    outline: none;
    color: inherit;
  }

}

li {
  list-style: none;
}
